/* ------------------------------- HEADER -------------------------------- */
/* header {
    backdrop-filter: blur(7px);
    background-color: rgba(4, 97, 89, 0.562);
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;     
    width: 90%; 
    max-width: 1095px; 
    position: fixed;    
    left: 50%; 
    top: 10px;
    transform: translateX(-50%); 
    z-index: 1000;
    height: 50px;
} */

header {
    border: 1px solid rgba(115, 240, 213, 0.2);
    background-color: rgba(18, 189, 175, 0.2);
    backdrop-filter: blur(20px) saturate(120%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.336);
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    width: 90%;
    max-width: 1095px;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 1000;
    height: 50px;
}

@media (max-width: 768px) {
    header {
        bottom: 15px;
        top: auto;
        height: 50px;
    }
}

.header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.headerr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

/* ------------------------------- BODY -------------------------------- */
body {
  font-family: Arial, sans-serif; 
  background-color: #131313;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  font-size: 23px;
  margin: 0;
}

@media (max-width: 768px) {
    body {
        font-size: 17px;
    }
}

/* ------------------------------- TEXT -------------------------------- */
a {
    color:#cce0e0;
}

.small-text {
    font-size: 20px; 
    color: #7a7a7a; 
    float: right; 
}

@media (max-width: 768px) {
    .small-text {
        font-size: 15px;
    }
}

.small-text-Random {
    font-size: 20px; 
    color: #ffffff; 
    float: right; 
}

@media (max-width: 768px) {
    .small-text-Random {
        font-size: 15px;
    }
}

.small-text-Interests {
    font-size: 20px;
    color: #f8ff9b; 
    float: right; 
}

@media (max-width: 768px) {
    .small-text-Interests {
        font-size: 15px;
    }
}
.small-text-Anime {
    font-size: 20px; 
    color: #fdaea0;
    float: right; 
}

@media (max-width: 768px) {
    .small-text-Anime {
        font-size: 15px;
    }
}
.small-text-Gaming {
    font-size: 20px; 
    color: #a9bdff; 
    float: right; 
}

@media (max-width: 768px) {
    .small-text-Gaming {
        font-size: 15px;
    }
}
.small-text-Politics {
    font-size: 20px; 
    color: #f8a8ff; 
    float: right; 
}

@media (max-width: 768px) {
    .small-text-Politics {
        font-size: 15px;
    }
}
.small-text-Technologies {
    font-size: 20px; 
    color: #bdffac; 
    float: right;
}

@media (max-width: 768px) {
    .small-text-Technologies {
        font-size: 15px;
    }
}

/* ------------------------------- IMAGE -------------------------------- */
.modal-img {
    width: auto; 
    height: 700px; 
    max-height: 80vh; 
    display: block;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .modal-img {
        width: 350px; 
        height: auto; 
        max-height: 80vh; 
        display: block;
        margin: 0 auto; 
    }
  }

.img-post {
    width: 346px;
    height: 346px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .img-post {
        width: 150px;
        height: 150px;
    }
  }


@media (min-width: 768px) {
    .bottom-logo {
      display: none;
    }
  }

.logo {
    flex: 1;
    text-align: left;
    height: 45px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
        flex: 0;
        margin-left: 17px;
    }
}

.logo img{
    width: 45px; 
    height: 45px; 
}

.buttons img{
    width: 20px; 
    height: 20px; 
}

.avatar-and-nick img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px;
}

.avatar img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    margin-right: 10px;
    object-fit: cover;
}

.avatar {
    display: flex;
    align-items: center;
}

.image-upload-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-upload {
    position: relative;
}

.image-input {
    display: none;
}

.image-label-profile {
    width: 150px;
    height: 150px;
    background-color: #1d1d1d;
    border-radius:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; 
    overflow: hidden;
    margin: auto; 
}

.image-label {
    width: 150px;
    height: 150px;
    background-color: #1d1d1d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.image-label:hover {
    background-color: #131313;
    transition: 0.4s;
}

/* ------------------------------- ICON -------------------------------- */
.small-icon-posts {
    margin-left: 0.1em;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.page-with-background {
    background-image: url('../images/404.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.upload-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url('/images/av_ph.PNG');
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.upload-icon:hover {
    background-image: url('/images/edit_avatar.PNG');
}

.plus-icon {
    font-size: 32px;
    color: #ffffff09;
    z-index: 1;
}

/* ------------------------------- FORM -------------------------------- */
form {
    background: #ffffff09;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .display_flex {
      display: flex;
    }
}
.comment_form {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #0000004a; 
    position: fixed;
    bottom: 5px;
    backdrop-filter: blur(7px);
    width: 87.8%; 
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 1080px; 
}

@media (max-width: 768px) {
    .comment_form {
      bottom: 80px;
      border-radius: 15px;
    }
}

/* @media (max-width: 768px) {
    .comment-textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;
        background: #1a1a1a;
        color: #fff;
        border: none;
      }
} */
  
/* @media (max-width: 768px) {
    .comment_form textarea[type="text"] {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border-radius: 20px;
        margin-right: 10px;
      }
}
@media (max-width: 768px) {
    .comment_form button {
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
      }
} */

.standart_form {
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
}

.search-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

form button{

    width: 200px;
    height: 35px;
    border: none;
    background-color: rgba(4, 97, 89, 0.589);
    border-radius: 50px;
    font-size: 20px;
    color: #fdfcfc;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

@media (max-width: 768px) {
    form button{
        font-size: 15px;
    }
}

.form-button-comment{
    width: 35px;
}

@media (max-width: 768px) {
    .form-button-comment{
        height: 40px;
        border-radius: 10px;
    }
}

form select{
    width: 94%; 
    padding: 10px; 
    margin-bottom: 1px; 
    border: none;
    border-radius: 20px; 
    background-color: #1d1d1d;
    outline: none;
    color: white;
}

form select:hover {
    background-color: #131313;
    transition: 0.4s;
}

form button:hover {
    background-color:rgb(3, 117, 108);
    transition: 0.4s;
}

form input {
    color: #fff;
    width: 90%; 
    padding: 10px; 
    margin-bottom: 1px; 
    border: none;
    border-radius: 20px; 
    background-color: #1d1d1d;
    outline: none;
    font-size: 20px;
}

form select{
    font-size: 20px;
}

form input:hover {
    background-color: #131313;
    transition: 0.4s;
}
#content {
    line-height: 20px;
    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
  }

form textarea {
    padding: 10px;
    width: 90%;
    margin-right: 5px;
    border: none;
    border-radius: 15px; 
    background-color: #1d1d1d;
    color: white;
    font-size: 20px;
    height: 25px;
}

@media (max-width: 768px) {
    form textarea {
        border-radius: 25px; 
    }
}

form textarea:hover {
    background-color: #131313;
    transition: 0.4s;
}

form h1{
    text-align: center;
}

form p{
    text-align: left;
    margin: 10px;
}

/* ------------------------------- CONTAINER -------------------------------- */
.sector-container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 110%;
    gap: 10px;
    justify-content: space-between;
}

.container-comment {
    margin-top: 10px;
    padding: 12px;
    border-radius: 15px;
    background: #29ffdb09; 
}

.container-comment-new {
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    background: #ffffff2c; 
}

.container-quote {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #ffffff77;
  }
.container-quote-Anime {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #fdaea0; 
}

.container-quote-Gaming {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #a9bdff; 
}

.container-quote-Interests {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #f8ff9b; 
}

.container-quote-Politics {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #f8a8ff; 
}

.container-quote-Technologies {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #bdffac; 
}

.container-quote-Random {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    background: #ffffff0c; 
    font-style: italic; 
    border-left: 5px solid #ffffff; 
}

.container-Anime {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Anime h2{
    color: #fdaea0;
}

.container-Gaming {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Gaming h2{
    color: #a9bdff;
}

.container-Interests {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Interests h2{
    color: #f8ff9b;
}

.container-Politics {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Politics h2{
    color: #f8a8ff;
}

.container-Technologies {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Technologies h2{
    color: #bdffac;
}

.container-Random {
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #ffffff09; 
}

.container-Random h2{
    color: #ffffff;
}

.containerr {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff09;
    background-size: cover; 
    background-position: center; 
}

.containerr h2 {
    color: #ffffff;
}

.containerr p {
    color: #636363;
}

.containerr a {
    color: #ffffff;
}

.containerr a {
    text-decoration: none;
}

.main_container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 20, 24, 0.801);
}mainpag

.mainpage_container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.068);
}

.containerr-p {
    color:#ffffff;
    display: flex;
    align-items: center;
}

.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #9eb5b8;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.password-input-container {
    position: relative;
}

.password-input-container button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    font-size: 25px; 
    line-height: 1; 
    padding: 0; 
    border: none; 
    background: none; 
    cursor: pointer; 
}

.container_editprof {
    display: flex; 
    padding: 10px;
    max-width: 100%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.13); 
    justify-content: center;
    align-items: center;
}

.im-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content:left;
}

/* ------------------------------- SECTOR -------------------------------- */
@media (max-width: 768px) {
    .p-desc {
        display: none;
    }
}

.sector-block {
    background-size: cover;
    padding: 4px; 
    border-radius: 15px; 
    text-align: center;
    flex: 1;
    margin: 0 1px;
    box-sizing: border-box; 
}

/* .sector-block.collapsed {
    padding: 2px;
    overflow: hidden;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    .sector-block.collapsed {
        height: 60px;
    }
}

.sticky-container {
    position: sticky;
    top: 0px;
}

@media (min-width: 768px) {
    .sticky-container {
        top: 70px;
    }
} */

/* ------------------------------- BUTTON -------------------------------- */
.buttonn {
    display: block;
    color: #ffffff; 
    border: white;
    border-radius: 10px;
    text-decoration: none; 
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    flex: 1; 
    text-align: center;
}

.button-sector {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
}

.close-btn {
    cursor: pointer;
    margin-left: 10px;  
    float: right;
    color: #cccccc2d;
}

.close-btn:hover {
    color: #ffffff79;
}

.buttonn:hover {
    background-color: white;
    color: black;
}

.button_link {
    background-color: rgba(47, 65, 66, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.5s ease;
    width: 30px;
}

.button:hover {
    background-color: #5d7073;
}
.button_link:hover {
    background-color: #5d7073;
}

.buttons {
    display: flex;
}

.button {
    background-color: rgba(47, 65, 66, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    white-space: nowrap;
    transition: background-color 0.5s ease;
}

/* ------------------------------- INPUT -------------------------------- */
.file-input {
    display: none;
}

.search-input {
    width: 50%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    text-align: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #9b9b9b; /* Цвет при активном состоянии */
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* ------------------------------- OTHER -------------------------------- */
.page-with-background {
    background-image: url('../images/404.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.signupout {
    margin: 0 auto; /* Центрируем форму по горизонтали */
    text-align: center;
    max-width: 400px;
}
option{
    border-radius: 20px;
    border: none;
}
.some-type {
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 2em;
    margin: 0;
    border-radius: 10px;
}
nav {
    display: inline-block;
    margin: 0 auto;
    height: 22px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
}
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%; 
    }
}
@media (max-width: 768px) {
    nav a {
        display: inline;
        font-size: 25px;
    }
}
nav a:hover {
    color: #ccc;
}
.content {
    padding-top: 78px;
    /* padding-bottom: 200px; */
    margin: 0 auto; /* Центрируем хедер по горизонтали */
    width: 90%; /* Фиксированная ширина хедера */
    max-width: 1100px;
}

@media (max-width: 768px) {
    .content {
        padding-top: 10px;
        /* padding-bottom: 185px; */
    }
}

.contentr {
    margin-top: 10px;
    margin: 0 auto; /* Центрируем хедер по горизонтали */
    width: 100%; /* Фиксированная ширина хедера */
    max-width: 00px; /* Максимальная ширина хедера */   
}
.progress-bar {
    height: 100%;
    background-color: #2F4145;
    width: 0;
    transition: width 0.5s ease-in-out;
}
.checkmark {
    width: 12px; /* Маленький размер */
    height: 12px;
    margin-left: 8px; /* Отступ между ником и галочкой */
}
.avatar-and-nick {
    display: flex;
    align-items: center;
}
.nick {
    font-size: 25px; /* Установите нужный размер шрифта для ника */
}
@media (max-width: 768px) {
    .nick {
        font-size: 20px;
    }
}
a {
    color:#cce0e0;
}
.item {
    display: inline-block; /* Располагает элементы в строку */
    margin-right: 10px; /* Добавляет небольшой отступ между элементами */
}
.bio {
    margin-left:15px;
}
.checkbox-label {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 8px; /* Отступ между чекбоксом и текстом */
    font-size: 20px;
}

@media (max-width: 768px) {
    .checkbox-label {
        font-size: 15px;
    }
}
.preview-img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
/* Контент модального окна */
.modal-content {
    position: relative;
    display: flex;
    align-items: center;
}
/* Кнопка закрытия */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
/* Кнопки для навигации между изображениями */
.prev, .next {
    border: none;
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    background-color: #13131300;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s;
    user-select: none;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.notification {
    position: relative;
    display: inline-block; /* Чтобы иконка не сжималась */
    font-size: 25px;
    cursor: pointer;
}
.badge {
    position: absolute;
    top: -3px; /* Чуть выше */
    right: -5px; /* Чуть правее */
    background: red;
    color: white;
    font-size: 25px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    font-weight: bold;
}

.tentacles {
    width: 1000px;
    padding: 0px;
    mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
}

@media (max-width: 768px) {
    .tentacles {
        width: 300px;
        margin-bottom: 66px;
    }
}






















/* ------------------------------- MODAL -------------------------------- */
/* Только для мобильных устройств */
/* Только для мобильных устройств */
@media (max-width: 768px) {
    #content.blur {
        filter: blur(5px);
        transition: filter 0.3s ease;
    }

    #mobileMenu,
    #submenu {
        display: flex !important;
    }

    #mobileMenu {
        border-radius: 15px;
        position: fixed;
        width: 90%;
        top: 10px;
        left: 0;
        right: 0;
        backdrop-filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.384);
        padding: 0.5em;
        z-index: 1000;
        justify-content: center;
        justify-content: space-between;
        height: 39px;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #mobileMenu .btn {
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    #mobileMenu .btn:hover {
        transform: scale(1.2);
    }

    #submenu {
        position: fixed;
        top: 74px; /* Под меню */
        left: 3%;
        right: 3%;
        backdrop-filter: blur(7px);
        background-color: rgb(0 0 0 / 36%);
        color: #ffffff;
        z-index: 999;
        padding: 1em;
        border-radius: 15px;
        opacity: 0;
        transform: scale(0.95);
        pointer-events: none;
        transition: all 0.3s ease;
        display: none;
        flex-direction: column;
    }

    #submenu.visible {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
        display: flex !important;
    }

    #submenu a {
        display: block;
        padding: 0.4em 0;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
    }

    #submenu a:hover {
        text-decoration: underline;
    }
}

/* Скрыть на десктопе */
@media (min-width: 769px) {
    #mobileMenu,
    #submenu {
        display: none !important;
    }
}
