{% extends 'header.html' %}

{% block title %}
Create post
{% endblock title %}

{%block content%}
<br>
<br>
<br>
<form method='post' action='/maketuskform' class='standart_form' enctype="multipart/form-data" id="PostForm">
    {%csrf_token%}
    <br>
    <input type="file" accept="image/*" class="image-input" id="input2" name="photo">
    <label for="input2" class="image-label-profile">
        <span class="plus-icon">
            {% if user.photo %}
                <img src="https://i.imgur.com/{{user.avatar}}" alt="Avatar" style="height:150px; object-fit: cover;">
            {% else %}
                +
            {% endif %}
        </span>
        <img id="preview2" class="preview-img" alt="/images/headlogo.PNG">
    </label>
    <br>
    <br>
    <p>Ник</p>
    <input type="text" id="username" name="username" value="{{user.username}}">
    <div id="suggestions"></div>
    <br>
    <p>Описание</p>
    <textarea id="bio" name="bio" rows="4" cols="50" style="height:100px">{{user.bio }}</textarea>
    <input type="hidden" name="pk" id="pk" value="{{user.id}}">
    <br><br><br>
    <button type='submit'>
        Изменить
    </button>
    <br>
    <a href="/auth/profile/{{user.id }}">
        обратно
    </a>
    <div id="error-message" style="display: none; color: red;"></div>
    <br>
</form>
<script src="/static/js/edit_profile.js"></script>
{%endblock content%}