{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}

            {% endblock title %}
        </title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/png" href="/images/headlogo.PNG">
    </head>
    <body>
        <header>
            <div class="logo">
                <!-- Здесь может быть ваш логотип -->
                <a href='/'>
                    <img src="{% static 'images/logo.PNG' %}" alt="Логотип">
                </a>
            </div>
            <!-- <h1>Название приложения</h1> -->
            <nav>
                <a href="/auth/login/">login</a>
                <a href="/auth/logout/">logout</a>
                <a href="#" >register</a>
                <a href="/auth/profile/" >profile</a>
            </nav>
        </header>
        <!-- Контент страницы -->
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
    <script src="/static/js/access.js"></script>
    </body>
</html>