{%extends 'header.html'%}

{% block title %}
    sign in
{% endblock title %}

{%block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<form method="post" action="/auth/api/token/" class="signupout" id="loginForm">
    {% csrf_token %}
    <h1>Войти</h1>
    <br>
    <p>Имя</p>
    <input type="text" name="username" id="username" placeholder="Введите ник" required><br>
    <br>
    <p>Пароль</p>
    <input type="password" name="password" id="password" placeholder="Введите пароль" required><br>
    <br>
    <input type="hidden" name="comment" id="comment">
    <button type="submit">Далее</button>

    <p class="some-type"><a href="/auth/sign_up">Создать аккаунт</a></p>

    <!-- Место для вывода сообщения об ошибке -->
    <div id="error-message" style="color: red; display: none;"></div>
</form>
<script src="/static/js/login.js"></script>
{%endblock content%}