{%extends 'feed.html'%}
{% load static %}
{% block title %}
    main
{% endblock title %}

{%block sectors%}
<div class="sticky-container">
    <div class="sector-container">
        {%for sector in sectors%}
            <div class="sector-block" style="color: #{{sector.color}};background-image: url('../../media/{{sector.image}}');">
                <h3><a href="/sector/{{sector.id}}" class="button-sector"><i class="btn fa-solid fa-{{sector.logo}}"></i><br>{{sector.title}}</a></h3>
                {%for subsector in sector.subsectors%}
                <a href="/subsector_post/?subsector_id={{subsector.id}}" class="buttonn"><p class="p-desc">{{subsector.title}}</p></a>
    <!--                <p>{{subsector.title}}</p>-->
                {%endfor%}
            </div>
        {%endfor%}
    </div>
</div>

<nav id="mobileMenu">
    {%for sector in sectors%}
  <i class="btn fa-solid fa-{{sector.logo}}" style="color:#{{sector.color}}" data-topic="{{sector.title}}"></i>
    {%endfor%}
</nav>

<div id="submenu">
  {%for sector in sectors%}
    <div class="topic-submenu" data-topic="{{sector.title}}">
      <a href="/sector/{{sector.id}}" style="font-size:30px;color:#{{sector.color}}">{{sector.title}}</a>
      {%for subsector in sector.subsectors%}
        <a href="/subsector_post/?subsector_id={{subsector.id}}" style="font-size:20px;">{{subsector.title}}</a>
      {%endfor%}
    </div>
  {%endfor%}
</div>

<h2>Последние публикации всех веток</h2>
{%endblock sectors%}
